{% extends 'base.html' %}
{% block content %}
	<div class="sixteen wide column">&nbsp;</div>
	<div class="sixteen wide column">&nbsp;</div>
	<div class="sixteen wide column">
		<div class="ui huge header">View and Manage {{ org.org_name }}</div>
	</div>
	<div class="sixteen wide column">&nbsp;</div>
	<div class="sixteen wide column"><font size="3em">View and manage the organizations that you belong to.</font></div>
	<div class="sixteen wide column">&nbsp;</div>
	<div class="eight wide column">
	  Manage Users
	</div>
	<div class="eight wide column">&nbsp;</div>
	<div class="sixteen wide column">&nbsp;</div>

{% endblock %}
