{% extends 'base.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
<div class="ui container">
  <div class="sixteen wide column">&nbsp;</div>
  <div class="sixteen wide column">&nbsp;</div>
  <div class="sixteen wide column">
    <div class="ui huge header">Dashboard</div>
  </div>
  <div class="sixteen wide column">&nbsp;</div>
  <div class="sixteen wide column"><font size="3em">The important things</font></div>
  <div class="sixteen wide column">&nbsp;</div>
  <!-- <div class="ui two column doubling stackable grid container">
  <div class="column">
  <p>Organisations</p>
</div>
<div class="column">
<p>Personal</p>
</div>
</div> -->

<div class="sixteen wide column">
  <table class="ui selectable striped table form">
    <tbody>
      <tr>
        <td>
          <h4 class="ui image header">
            <div class="content">
              You own
            </div>
          </h4></td>
          <td>
            4
          </td>
          <td>
            <h4 class="ui image header">
              <div class="content">
                You joined
              </div>
            </h4>

          </td>
          <td>
            2
          </td>
          <td>
            <h4 class="ui image header">
              <div class="content">
                Your share
              </div>
            </h4>
          </td>
          <td>
            70%
          </td>
        </tr>
        <tr>
          <tr>
            <td>
              <h4 class="ui image header">
                <div class="content">
                  Total revenue
                </div>
              </h4></td>
              <td>
                S$14,000
              </td>
              <td>
                <h4 class="ui image header">
                  <div class="content">
                    Cost
                  </div>
                </h4>
              </td>
              <td>
                S$3,000
              </td>
              <td>
                <h4 class="ui image header">
                  <div class="content">
                    Money in pocket
                  </div>
                </h4>
              </td>
              <td>
                S$5,000
              </td>
            </tr>
          </tr>
          <tr>
            <td colspan="6" class="right aligned">
              <button id="refresh" class="ui positive right labeled icon button" onclick="refresh()">
                Refresh
                <i class="refresh icon"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
    <div class="ui container">
<div class="ui horizontal segments">
  <div class="ui segment">
    <h2 style="text-align: center;">Business Earnings</h2>
      <canvas id="myChart" style="position:relative; float:left; max-width:35vw; height:50px"></canvas>
  </div>
  <div class="ui segment">
      <h2 style="text-align: center;">Personal Earnings</h2>
      <canvas id="myCanvas" style="position:relative; float:right; max-width:35vw; height:50px"></canvas>
  </div>
    </div>
  </div>

  <script>
  function plotChart() {
    var ctx = document.getElementById("myCanvas");
    var glables = ["09 Oct 2016 02:04:38", "9 Oct 2016 01:34:31", "08 Oct 2016 23:05:03", "08 Oct 2016 12:54:38"];
    var gvalues = ["37.9", "245.0", "89.6", "230.3"];
    for (var i = 0; i < gvalues.length; i++) {
      glables[i] = Date.parse(glables[i]) / 1000;
      gvalues[i] = parseInt(gvalues[i]);
    }

    var ostr = "{\"type\": \"line\",\"data\": {\"labels\": "+ JSON.stringify(glables) +",\"datasets\": [{\"label\":\"SGD\",\"data\": "+JSON.stringify(gvalues)+",\"backgroundColor\": [\"#FF6384\",\"#36A2EB\",\"#FFCE56\",\"#9b59b6\",\"#e67e22\"],\"hoverBackgroundColor\": [\"#FF6384\",\"#36A2EB\",\"#FFCE56\",\"#9b59b6\",\"#e67e22\"]}]},\"options\": {\"scales\": {\"xAxes\": [{\"type\": \"time\",\"time\": {\"displayFormats\": {\"quarter\": \"MMM YYYY\"}}}]}}}";

    var myDoughnutChart = new Chart(ctx, JSON.parse(ostr));
  }

  function drawChart() {
    var ctx = document.getElementById("myChart");
    var glables = ["2016-10-09T01:19:55Z", "2016-10-09T01:19:49Z", "2016-10-09T01:19:42Z", "2016-10-09T01:19:36Z", "2016-10-09T01:19:29Z", "2016-10-09T01:19:23Z", "2016-10-09T01:19:16Z", "2016-10-09T01:19:10Z", "2016-10-09T01:19:03Z", "2016-10-09T01:18:57Z", "2016-10-09T01:18:50Z", "2016-10-09T01:18:44Z", "2016-10-09T01:18:37Z", "2016-10-09T01:18:31Z", "2016-10-09T01:18:24Z", "2016-10-09T01:18:17Z", "2016-10-09T01:18:11Z", "2016-10-09T01:18:04Z", "2016-10-09T01:17:57Z", "2016-10-09T01:17:51Z"];
    var gvalues = ["573.00", "806.00", "835.00", "312.00", "770.00", "886.00", "567.00", "578.00", "571.00", "869.00", "300.00", "123.00", "652.00", "70.00", "422.00", "577.00", "509.00", "606.00", "271.00", "926.00"];
    for (var i = 0; i < gvalues.length; i++) {
      glables[i] = Date.parse(glables[i]) / 1000;
      gvalues[i] = parseInt(gvalues[i]);
    }

    var ostr = "{\"type\": \"line\",\"data\": {\"labels\": "+ JSON.stringify(glables) +",\"datasets\": [{\"label\":\"SGD\",\"data\": "+JSON.stringify(gvalues)+",\"backgroundColor\": [\"#FF6384\",\"#36A2EB\",\"#FFCE56\",\"#9b59b6\",\"#e67e22\"],\"hoverBackgroundColor\": [\"#FF6384\",\"#36A2EB\",\"#FFCE56\",\"#9b59b6\",\"#e67e22\"]}]},\"options\": {\"scales\": {\"xAxes\": [{\"type\": \"time\",\"time\": {\"displayFormats\": {\"quarter\": \"MMM YYYY\"}}}]}}}";

    var myDoughnutChart = new Chart(ctx, JSON.parse(ostr));
  }

  function refresh() {
    // get from server
  }

drawChart();
plotChart();

  </script>
  {% endblock %}
