{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block css %}
 <title>Welcome to MixPay</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<style>
#jumbotron {
  background: url("{% static 'images/coins.jpg' %}");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height:100vh;
}
#page2,#page3 {
  min-height: 100vh;

}
</style>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/transition.css' %}" /> -->
{% endblock %}

{% block navbar %}

{% endblock %}

{% block fluid_body_block %}

<!-- Following Menu -->
<!-- <div class="ui large top fixed menu navbar">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div> -->

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item" id="1" href="#page1">Home</a>
  <a class="item" id="3" href="#page2">About</a>
  <a class="item" id="2" href="#page3">Reviews</a>
  <a class="item" id="4"href="#page4">Try us</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher" id="page1">
  <div class="ui vertical inverted masthead center aligned segment section" id="jumbotron">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" id="1" >Home</a>
        <a class="item" id="2" >About</a>
        <a class="item" id="3" href="#page3">Reviews</a>
        <a class="item" id="4" href="#page4">Try us</a>
        <div class="right menu">
          {% if user.is_authenticated %}
          <div class="item">
        <div class="header">
            <strong>Hello, {{ user.first_name }}!</strong>
        </div>
      </div>
            <a class="item" href="{% url 'dashboard'%}"><i class="user icon"></i>Profile</a>
            <a class="item" href="{% url 'userauth:edit_profile' %}"><i class="edit icon"></i> Edit Profile</a>
            <a class="item" href="{% url 'userauth:edit_settings' %}"><i class="settings icon"></i> Account Settings</a>
            <a class="item" href="{% url 'userauth:logout' %}"><i class="sign out icon"></i> Logout</a>
          {% else %}
          <a class="item auth"><i class="sign in icon"></i>Log in</a>
          <a class="item signup only"><i class="add user icon"></i>Sign Up</a>

          {% endif %}
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        MixPay
      </h1>
      <h2>Corporate Income. Re-distributed.</h2>
      {% if user.is_authenticated %}
      <div class="ui huge primary button">Welcome back, Professor.</i></div>
      {%else%}
      <div class="ui huge primary button signup">Create an Account to Get Started <i class="right arrow icon"></i></div>
      {%endif%}
    </div>

  </div>

  <div class="ui vertical stripe segment section" id="page2">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Things get ugly when it comes to money.</h3>
          <p>Don't sweat about it. Let us handle your finance matters so you can concentrate on doing what you love most.</p>
        </div>
        <div class="six wide right floated column">
          <img src="{% static 'images/putin.jpg' %}" class="ui large circular image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment section" id="page3">

    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide left floated column">
          <img src="{% static 'images/kkt.jpg' %}" class="ui large circular image">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">"I shouldn't have gone with their competitor. Because there was no competition to begin with."</h3>
          <p>
            <i class="hand pointer icon"></i> <b>Mr Koh K T</b> CEO, Three Finger Tech. Co.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment section" id="page4">
    <div class="ui text center aligned container">
        <h3 class="ui header">30 days free. Automatic refunds thereafter. </h3>
        <img src="{% static 'images/wdk.jpg' %}" class="ui small circular centered image">
        <p class="ui header">Try us today.</p>
        <a class="ui large button">Read More</a>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted sumthing">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Initiate as a member</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Get access</a>
            <a href="#" class="item">App FAQ</a>
            <a href="#" class="item">How To Access</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted">MixPay</h4>
          <p>Serving partners, friends and startup colleagues since 2016</p>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="ui small modal auth">
    <div class="content">
	<div class="ui two column middle aligned very relaxed stackable grid">
	    <div class="column">
		<form class="ui form" action="{% url 'userauth:login' %}" method="post">
		    {% csrf_token %}
		    <div class="field">
			<div class="ui left icon input">
			    <input type="text" name="username" placeholder="Username">
			    <i class="user icon"></i>
			</div>
		    </div>
		    <div class="field">
			<div class="ui left icon input">
			    <input type="password" name="password" placeholder="Password">
			    <i class="lock icon"></i>
			</div>
		    </div>
		    <button class="ui blue submit button" type="submit">Login</button>
		</form>
	    </div>
	    <div class="ui vertical divider">
		Or
	    </div>
	    <div class="center aligned column">
		<div class="ui big green labeled icon button signup">
		    <i class="signup icon"></i>
		    Sign Up
		</div>
	    </div>
	</div>
    </div>
</div>
<div class="ui small modal signup">
    <div class="header">Sign Up</div>
    <div class="content">
	<div class="ui one column middle aligned stackable grid">
	    <div class="column">
		<form class="ui form" action="{% url 'userauth:register' %}" method="POST">
		    {% csrf_token %}
		    <div class="field">
			<div class="ui left icon input">
			    <input type="text" name="first_name" placeholder="First name">
			    <i class="user icon"></i>
			</div>
		    </div>

		    <div class="field">
			<div class="ui left icon input">
			    <input type="text" name="last_name" placeholder="Last name">
			    <i class="user icon"></i>
			</div>
		    </div>
 <div class="field">
			<div class="ui left icon input">
			    <input type="text" name="username" placeholder="Email">
			    <i class="mail icon"></i>
			</div>
		    </div>
		    <div class="field">
			<div class="ui left icon input">
			    <input type="password" name="password" placeholder="Password">
			    <i class="lock icon"></i>
			</div>
		    </div>

		    <button class="ui blue submit button" type="submit">Sign Up</button>
		</form>
	    </div>
	</div>
    </div>
</div>


{% endblock %}
{% block js %}
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/transition.js' %}"></script>
<script src="{% static 'js/visibility.js' %}"></script>
<script src="{% static 'js/homepage.js' %}"></script>
<script src={% static 'js/jquery.scrollify.min.js' %}></script>
<script type="text/javascript">
$(document).ready(function() {

  $(function() {
  					$.scrollify({
  						section : ".section",
              interstitialSection: ".footer,.sumthing",
              scrollSpeed: 1000,
              easing: "easeOutExpo",
  					});
  				});

  $(".item").click(function() {
  		// e.preventDefault();
      $.scrollify.move('#'+$(this).attr('id'));
    	});

$('.auth').click(function(){
  $(".ui.modal.auth").modal("show");
  $('.ui.modal.signup').modal('attach events', '.signup.button', 'show');
});

$('.signup').click(function(){
  $('.ui.modal.signup').modal("show");
});

// fix menu when passed
$('.masthead')
.visibility({
once: false,
onBottomPassed: function() {
$('.fixed.menu').transition('fade in');
},
onBottomPassedReverse: function() {
$('.fixed.menu').transition('fade out');
}
})
;

// create sidebar and attach to menu open
$('.ui.sidebar')
.sidebar('attach events', '.toc.item');

$('.ui.secondary.inverted > .item').click(function() {
  var container = $(this);
  var scrollTo = $($(this).attr('href'));
  console.log(container, scrollTo);
  $('.ui.secondary.inverted > .item' ).removeClass('active');
  $(this).addClass('active');
container.animate({
    scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()
});
});
});
</script>
{% endblock %}
