amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
cffi==1.8.3
cryptography==1.5.2
dj-database-url==0.4.1
Django==1.11.29
enum34==1.1.6
gunicorn==19.4.5
idna==2.1
ipaddress==1.0.17
kombu==3.0.37
paypalrestsdk==1.11.7
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.1.0
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
six==1.10.0
whitenoise==2.0.6
Flask==0.11.1

