{% extends 'userauth/user_panel_base.html' %}
{% load static %}
{% block body_block %}
<div class="ui grid">
    <div class="four wide column">
	<div class="ui card">
	    <div class="ui image">
		<img src="{% static 'images/putin.jpg' %}">
	    </div>
	    <div class="content">
		<a class="header">{{ profile.first_name }} {{ profile.last_name }}</a>
	    </div>

	</div>
    </div>
    <div class="eight wide column stretched">
	{{ profile.desc }}
    </div>
    <div class="four wide column">

    </div>
</div>



{% endblock %}

{% block rand %}

<div class="row">
    <div class="col-xs-3">
	<img src="{% static 'images/putin.jpg' %}" class="img-fluid img-rounded" alt="Profile picture">
	<br>
	<div class="card">
	    <div class="card-header">
		About Me
	    </div>
	    <div class="card-block">
		<p class="card-text">Email: <a href="{{ profile.user.username }}">{{ profile.user.email }}</a></p>
	    </div>

	</div>
	<p><i class="fa fa-flag"></i> Report this user</p>
    </div>

    <div class="col-xs-9">
	<h2><strong>{{ profile.first_name }} {{ profile.last_name }}</strong></h2>
	<p>{{ profile.desc }}</p>

    </div>
</div>
{% endblock %}
