{% extends 'userauth/user_panel_base.html' %}
{% load static %}
{% block body_block %}
<!-- <div class="ui grid">
    <div class="four wide column">
	<div class="ui card">
	    <div class="ui image">
		<img src="{% static 'images/putin.jpg' %}">
	    </div>
	    <div class="content">
		<a class="header">Name: {{ profile.first_name }} {{ profile.last_name }}</a>
	    </div>

	</div>
    </div>
    <div class="eight wide column stretched">
	{{ profile.desc }}
    </div>
</div> -->

<div class="row">
  <div class="col-xs-3">
    <img src="{% static 'images/putin.jpg' %}" class="ui medium circular image" alt="Profile picture">
    <br>
    <div class="card">
      <div class="card-header">
        <h2><strong>{{ profile.first_name }} {{ profile.last_name }}</strong></h2>
        About Me
        <div class="col-xs-9">
          <p>{{ profile.desc }}</p>

        </div>
      </div>
      <div class="card-block">
        <p class="card-text">Email: </p><a href="{{ profile.user.username }}">{{ profile.user.email }}</a>
      </div>

    </div>
    <p><i class="fa fa-flag"></i> Report this user</p>
  </div>

</div>


{% endblock %}
