{% extends 'base.html' %}
{% load static %}
{% block fluid_body_block %}
<!-- <div class="ui grid">
    <div class="two wide computer four wide tablet only column">
	<div class="ui vertical pointing secondary labeled menu">
	    <div class="item">
		<div class="header">My Account</div>
		<div class="menu">
		    <a class="item {% if active_profile %}active{% endif %}" href="{% url 'userauth:profile' user.id%}">
			<i class="user icon"></i>
			Profile
		    </a>
		    <a class="item {% if active_edit_profile %}active{% endif %}" href="{% url 'userauth:edit_profile' %}">
			<i class="edit icon"></i>
			Edit Profile
		    </a>
		    <a class="item {% if active_settings %}active{% endif %}" href="{% url 'userauth:edit_settings' %}">
			<i class="settings icon"></i>
			Settings
		    </a>
		</div>
	    </div>

    <div class="fourteen wide computer twelve wide tablet only column"> -->
	{% block content_block %}
	{% endblock %}

    </div>
</div>
{% endblock %}

{% block js_scripts %}

{% endblock %}
